vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Feb 2015 16:40:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|test.html index.html
vti_author:SR|DAVE-PC\\Devindra Mahadeo
vti_modifiedby:SR|DAVE-PC\\Devindra Mahadeo
vti_timecreated:TR|30 Jan 2015 18:39:30 -0000
vti_nexttolasttimemodified:TW|01 Feb 2015 22:32:13 -0000
vti_cacheddtm:TX|03 Feb 2015 16:40:39 -0000
vti_filesize:IR|939
